* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px red;
    }

    60% {
        box-shadow: 0px 0px 5px 5px black;
    }
}

.header-logo {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}

.navbar-position {
    position: fixed;
    z-index: 34;
    width: 100%;
    max-width: inherit;
}

a {
    text-decoration: none;
    color: black;
}

.nav-link {
    color: black;
    font-weight: 600;
}

.header-icons {

    display: flex;
    justify-content: space-between;
    gap: 25px;

}

.header-width {
    height: 40px;
    background-color: #21272966;
}

.nav-item .nav-link:hover {
    box-shadow: 0px 6px 7px 5px black;
    margin-top: -0px;
    margin-right: 1px;
    color: red;
    font-weight: bold;
}

.nav-brand- {
    color: black;
    font-weight: bold;
}

.navbar {
    background: linear-gradient(150deg, cornflowerblue, aquamarine, slategrey);

}

.navbar-collapse-bg-color {
    background: linear-gradient(150deg, cornflowerblue, aquamarine, slategrey);
    position: relative;
    margin-top: -8px;

}

@media (max-width:194px) {
    .navbar-hide-brand {
        display: none;
    }

    .top-header {
        display: none;
    }

    .navbar-toggler {
        color: black;
        font-size: 15px;
        font-weight: 600;
    }


}



@media only screen and (min-width:195px) and (max-width:300px) {
    .header-number {
        font-size: 10px;
        position: absolute;
        margin-left: -74px;
        margin-top: 4px;

    }

    .navbar-toggler {
        color: black;
        font-size: 15px;
        font-weight: 600;
    }

    .display-none {
        display: none;
    }

    .header-icon-hide {
        display: none;
    }

    .navbar-hide-brand {
        font-size: 13px;
        color: black;
        font-weight: 600;
    }


}

@media only screen and (min-width:301px) and (max-width:409px) {

    .header-number {
        position: absolute;
        margin-left: -96px;
        font-size: 11px;
        margin-top: 3px;
    }

    .navbar-toggler {
        color: black;
        font-size: 15px;
        font-weight: 600;
    }

    .display-none {
        display: none;
    }


    .navbar-hide-brand {
        font-size: 13px;
        color: black;
        font-weight: 600;
    }

}

@media only screen and (min-width:410px) and (max-width:630px) {
    .header-icons {
        display: none;
    }

}